<div class="container-login" fxLayout="row" fxLayoutAlign="center center">
	<mat-card fxFlex="30%" class="mat-elevation-z15">
		<mat-card-header fxLayout="column" fxLayoutAlign="center center">
			<mat-card-title>
				<mat-icon class="icon-x-large">local_library</mat-icon>
			</mat-card-title>
		</mat-card-header>
		<mat-divider></mat-divider>
		<mat-card-content>
			<form fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="20px" [formGroup]="loginForm"
						(ngSubmit)="onSubmit()">
				<mat-form-field>
					<input matInput placeholder="Email" type="email" formControlName="email" required>
					<mat-error *ngIf="email.invalid">{{getErrorMessage(email)}}</mat-error>
					<mat-icon matSuffix>account_circle</mat-icon>
				</mat-form-field>

				<mat-form-field>
					<input matInput placeholder="Senha" type="password" formControlName="password" required
								 [type]="hidePassword ? 'password' : 'text'">
					<mat-error *ngIf="password.invalid">{{getErrorMessage(password)}}</mat-error>
					<mat-icon matSuffix
										(click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
				</mat-form-field>

				<div fxLayout="row" fxLayoutAlign="space-between center">
					<a href="#" fxLayout="row" fxLayoutAlign="space-between center">
						<mat-icon matSuffix>help</mat-icon>
						Esqueci a senha
					</a>
					<button mat-raised-button color="primary" type="submit">Login
						<mat-icon matSuffix>send</mat-icon>
					</button>
				</div>
			</form>
		</mat-card-content>
	</mat-card>
</div>
