<app-loading></app-loading>
<mat-toolbar color="primary" *ngIf="showNavigation">
	<mat-toolbar-row>
		<button mat-icon-button *ngIf="!search">
			<ng-template [ngIf]="router.url.includes('home')" [ngIfElse]="iconBack" >
				<mat-icon class="icon-large">local_library</mat-icon>
			</ng-template>
			<ng-template #iconBack>
				<mat-icon class="icon-large" [routerLink]="'/home'" >arrow_back</mat-icon>
			</ng-template>
		</button>
		<span *ngIf="!search" fxFlex="1 1 auto"></span>
		<span *ngIf="router.url.includes('cadastro')">Cadastro</span>
		<span *ngIf="router.url.includes('editar')">Editar</span>
		<span *ngIf="!search" fxFlex="1 1 auto"></span>
		<button mat-icon-button *ngIf="!search && router.url.includes('home')" (click)="search = true">
			<mat-icon class="icon-large">search</mat-icon>
		</button>
		<span *ngIf="!search && router.url.includes('home')" fxFlex="5px"></span>
		<div *ngIf="search" fxFlex="5%" fxFlex.md="6%" fxFlex.sm="7%" fxFlex.lt-sm="10%">
			<button mat-icon-button (click)="search = false">
				<mat-icon>arrow_back</mat-icon>
			</button>
		</div>
		<mat-form-field class="animated" floatLabel="never" fxFlex="95%" fxFlex.md="94%" fxFlex.sm="93%" fxFlex.lt-sm="90%"
										*ngIf="search"
										[ngClass]="{'slideOutRight': !search, 'slideInRight': search }">
			<input matInput type="text" (keyup)="applyFilter(filter)" placeholder="Digite sua busca aqui"
						 [(ngModel)]="filter">
			<button mat-button *ngIf="filter" matSuffix mat-icon-button aria-label="Clear" (click)="clearFilter()">
				<mat-icon>close</mat-icon>
			</button>
		</mat-form-field>
		<span *ngIf="!search && router.url.includes('home')" fxFlex="5%"></span>
		<button mat-icon-button *ngIf="!search" [matMenuTriggerFor]="menu">
			<mat-icon class="icon-large">more_vert</mat-icon>
		</button>
		<mat-menu #menu="matMenu">
			<button mat-menu-item (click)="logout()">
				<mat-icon>exit_to_app</mat-icon>
				<span>Sair</span>
			</button>
			<button mat-menu-item>
				<mat-icon>info</mat-icon>
				<span>Sobre</span>
			</button>
		</mat-menu>
	</mat-toolbar-row>
</mat-toolbar>

<main>
	<router-outlet></router-outlet>
</main>

<footer *ngIf="false">
	<mat-card fxLayout="row" fxLayoutAlign="start center" class="primary-background-color footer">
		<mat-icon class="icon-small">copyright</mat-icon>
		Felipe Rodrigues
	</mat-card>
</footer>
