td, th {
	border-right: 1px solid rgba(0, 0, 0, 0.15);
	justify-content: center !important;
	text-align: center;
}

::ng-deep .mat-sort-header-container {
	justify-content: center;
}

table {
	width: 100%;
}

.mat-header-cell {
	text-align: center;
}

.search-button:focus {
	background-color: #26a69a !important;
}

button.action {
	margin: 0 5px 0 5px;
}


.fab-container {
	position: fixed;
	bottom: 15px;
	right: 15px;
	z-index: 100;
}

table {
	width: 100%;
}

tr.example-detail-row {
	height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
	background: #777;
}

tr.example-element-row:not(.example-expanded-row):active {
	background: #efefef;
}

.example-element-row td {
	border-bottom-width: 0;
}

.example-element-detail {
	overflow: hidden;
	display: flex;
}

.example-element-diagram {
	min-width: 80px;
	border: 2px solid black;
	padding: 8px;
	font-weight: lighter;
	margin: 8px 0;
	height: 104px;
}

.example-element-symbol {
	font-weight: bold;
	font-size: 40px;
	line-height: normal;
}

.example-element-description {
	padding: 16px;
}

.example-element-description-attribution {
	opacity: 0.5;
}
