<div class="content" fxLayout="column" fxLayoutAlign="center stretch">
	<div class="mat-elevation-z8">
		<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

			<!-- Name Column -->
			<ng-container matColumnDef="{{displayedColumns[0]}}">
				<th mat-header-cell *matHeaderCellDef mat-sort-header> Nome Fantasia</th>
				<td mat-cell *matCellDef="let element"> {{element.razaoSocial}} </td>
			</ng-container>

			<!-- Weight Column -->
			<ng-container matColumnDef="{{displayedColumns[1]}}">
				<th mat-header-cell *matHeaderCellDef mat-sort-header> Telefone</th>
				<td mat-cell *matCellDef="let element"> {{element.telefones[0].numero}} </td>
			</ng-container>

			<!-- Symbol Column -->
			<ng-container matColumnDef="{{displayedColumns[2]}}">
				<th mat-header-cell *matHeaderCellDef mat-sort-header> Contato</th>
				<td mat-cell *matCellDef="let element"> {{element.telefones[0].contato}} </td>
			</ng-container>

			<ng-container matColumnDef="{{displayedColumns[3]}}">
				<th mat-header-cell *matHeaderCellDef> Ação</th>
				<td mat-cell *matCellDef="let element">
					<button mat-button class="button-orange" type="button">
						<i class="material-icons">create</i>
					</button>
					<button mat-button type="button" color="warn" (click)="delete(element)">
						<i class="material-icons">delete</i>
					</button>
					<button mat-button type="button" color="primary">
						<i class="material-icons">remove_red_eye</i>
					</button>
				</td>
			</ng-container>

			<tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
		</table>

		<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
	</div>
	<div fxLayout="column" dir="rtl" fxLayoutAlign="center" class="fab-container">
		<button mat-fab color="primary" [routerLink]="'/cadastro'">
			<i class="material-icons">add</i>
		</button>
	</div>
</div>
