.m-r-l-20{
	margin: 0 20px 0 20px;
}

.m-20{
	margin: 20px;
}

/*td, th {*/
/*	border-right: 1px solid rgba(0, 0, 0, 0.15);*/
/*	justify-content: center !important;*/
/*	text-align: center;*/
/*}*/

/*::ng-deep .mat-sort-header-container {*/
/*	justify-content: center;*/
/*}*/

/*table {*/
/*	width: 100%;*/
/*}*/

/*.mat-header-cell {*/
/*	text-align: center;*/
/*}*/

.search-button:focus {
	background-color: #26a69a !important;
}

button.action {
	margin: 0 5px 0 5px;
}


.fab-container {
	position: fixed;
	bottom: 15px;
	right: 15px;
	z-index: 100;
}

mat-table {
	width: 100%;
}

mat-row.example-detail-row {
	height: auto;
	min-height: 0 !important;
}

mat-row.example-element-row:not(.example-expanded-row):hover {
	background: #777;
}

mat-row.example-element-row:not(.example-expanded-row):active {
	background: #efefef;
}

.example-element-row mat-row {
	border-bottom-width: 0;
}

.example-element-detail {
	overflow: hidden;
	display: flex;
}
