@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
	margin: 0;
}

.content{
	padding: 30px 5%;
}

.primary-background-color {
	background-color: #3f51b5;
}

a {
	text-decoration: none;
	color: #000000;
}

/* SnackBar Styles */

.success {
	background-color: green !important;
	color: white !important;
}

.success .mat-simple-snackbar-action{
	color: white !important;
}

.alert {
	background-color: orange !important;
	color: white !important;
}

.alert .mat-simple-snackbar-action{
	color: white !important;
}

.error {
	background-color: red !important;
	color: white !important;
}

.error .mat-simple-snackbar-action{
	color: white !important;
}


/* Icons Sizes */

.icon-small {
	font-size: 12px !important;
	height: 12px !important;
	width: 12px !important;
	line-height: 12px !important;
}

.icon-medium {
	font-size: 24px !important;
	height: 24px !important;
	width: 24px !important;
	line-height: 24px !important;
}

.icon-large {
	font-size: 36px !important;
	height: 36px !important;
	width: 36px !important;
	line-height: 36px !important;
}

.icon-x-large {
	font-size: 48px !important;
	height: 48px !important;
	width: 48px !important;
	line-height: 48px !important;
}

/* Buttons */

button.button-orange > .mat-button-focus-overlay{
	background-color: orange !important;
}

button.button-orange > .mat-button-ripple.mat-ripple{
	color: orange !important;
}

button.button-orange > span > i.material-icons{
	color: orange !important;
}

button.fab-button-green{
	background-color: green !important;
	color: white !important;
}

button.fab-button-green > .mat-button-focus-overlay{
	background-color: green !important;
}
button.fab-button-green > .mat-button-ripple.mat-ripple{
	color: green !important;
}




